@media screen and (max-width: 992px) {
  * {
    margin: 0;
    padding: 0;
    box-sizing: inherit;
  }

  :root {
    --main-color: #583101;
    --main-deep: #402400;
    --main-third: linear-gradient(180deg, #8b5e34 0%, #6f4b2a 100%);
    --anchor: #fff;
    --main-light: #fff6eb;
    --footer-color: #2f1a01;
  }

  nav {
    position: fixed;
    top: 0;
    right: 0;
    display: none;
    flex-flow: column;
    justify-content: space-around;
    align-items: center;
    background-color: var(--main-color);
    height: 100vh;
    width: 250px;
    z-index: 100;
  }
  nav ul {
    margin: auto;
    display: flex;
    flex-flow: column nowrap;
    height: 60%;
    position: inherit;
    top: 100px;
  }

  header .register {
    position: inherit;
    bottom: 50px;
  }

  header .logo {
    left: 10%;
    position: absolute;
  }

  .fa-solid {
    font-size: 20px;
    cursor: pointer;
    position: absolute;
    display: block;
  }

  header .fa-x {
    display: block;
    top: 40px;
    left: 40px;
  }

  .fa-bars {
    position: fixed;
    z-index: 50;
    right: 5%;
    top: 60px;
    color: #fff6eb;
  }

  .hero .hero-container {
    display: flex;
    flex-flow: column;
    justify-content: space-around;
    align-items: center;
    text-align: center;
    padding: 30px 0;
  }

  .hero .content {
    width: 90%;
    display: flex;
    flex-flow: column;
    margin: auto;
  }

  .hero .content h1 {
    font-size: 40px;
    line-height: 52px;
    font-weight: 700;
    width: 100%;
  }

  .hero .content p {
    font-size: 15px;
    font-weight: 600;
  }

  .hero .buttons {
    display: flex;
    flex-flow: column;
    gap: 15px;
  }

  .hero .buttons a:nth-child(2) {
    margin-left: 0;
  }

  .hero .sofa {
    width: 100%;
  }

  .hero .sofa img {
    margin: auto;
  }

  .choose-us {
    width: 100%;
    height: 590px;
  }
  .choose-us h1 {
    font-size: 28px;
    padding: 10px 0;
  }
  .cards {
    display: flex;
    flex-flow: column;
    flex: 0 0 50%;
    width: 100%;
    margin: auto;
    align-items: center;
  }

  .cards .card-body {
    width: 70%;
    height: 134px;
  }

  .cards .card-body .card-content {
    width: 100%;
    height: 89px;
    margin: auto;
    padding: 20px 40px 0 40px;
  }

  .cards .card-body .card-content h2 {
    font-weight: 700;
    font-size: 20px;
    line-height: 21.94px;
  }

  .cards .card-body .card-content p {
    font-weight: 400;
    font-size: 14px;
    line-height: 17px;
  }

  .cards .card-body .card-icon {
    width: 70px;
    height: 70px;
    top: 25%;
    left: -40px;
  }

  /* ////PRODUCTS/// */

  .explore a {
    width: 90%;
  }

  .review {
    height: 777px;
  }

  .review-container .container {
    flex-flow: column;
  }

  .review-container h1 {
    width: 80%;
    font-size: 28px;
    line-height: 36px;
    text-align: center;
    margin-top: 30px;
  }

  .review-container .container {
    margin: auto;
    width: 100%;
    flex-flow: column;
  }

  .customer-card {
    width: 80%;
  }

  .review .comment {
    width: 100%;
    margin: auto;
  }

  .review .comment h2 {
    font-size: 20px;
    line-height: 24px;
    padding-top: 20px;
  }

  .review .comment p {
    font-size: 15px;
    line-height: 18px;
    margin-top: 25px;
  }

  .customer-card img {
    width: 60px;
    height: 60px;
    top: -25px;
    left: -30px;
  }

  .featured-container .article-container {
    margin-top: 20px;
  }

  .featured {
    width: 100%;
    height: 650px;
  }

  .featured .sub-section {
    padding-top: 40px;
  }

  .featured-container {
    width: 95%;
    margin: auto;
    height: 100%;
  }

  .f-section {
    width: 95%;
    margin: auto;
    display: flex;
    flex-flow: column nowrap;
    justify-content: space-around;
    align-items: center;
    margin-top: 20px;
    height: 500px;
  }

  .featured-container .article-container {
    width: 100%;
  }

  .featured h2 {
    font-size: 28px;
    font-weight: 700;
    line-height: 32px;
  }

  .featured-container .kiss-couch {
    width: 100%;
    height: 211px;
  }

  .featured-container .kiss-couch img {
    width: 90%;
    height: 220px;
    margin: auto;
  }

  .featured-container .article-container h3 {
    font-size: 22px;
    line-height: 30px;
    font-weight: 700;
  }

  .featured-container .article-container p {
    font-size: 16px;
    font-weight: 500;
    line-height: 19px;
    margin-top: 20px;
    padding-bottom: 20px;
  }

  .article-container .kiss-price span {
    font-size: 27px;
    font-weight: 700;
    line-height: 30px;
  }

  .article-container .kiss-price span * > {
    text-align: center;
  }

  .article-container .kiss-price .buy-now {
    padding: 10px 30px;
  }

  .featured-container .caret {
    margin: auto;
    background-color: transparent;
  }
  footer {
    position: relative;
  }

  .footer-container {
    height: 100%;
  }

  footer .footer-tags {
    padding-top: 50px;
  }

  footer .newsletter {
    width: 100%;
    height: 250px;
    justify-content: space-around;
  }

  footer .newsletter h3 {
    font-size: 24px;
    font-weight: 700;
    line-height: 36px;
    text-align: center;
  }

  footer .newsletter .input {
    width: 100%;
  }

  footer .newsletter .register {
    width: 100%;
  }

  footer .newsletter .register span {
    display: block;
    text-align: center;
    margin: auto;
    width: 100%;
    border: 1px solid #fff6eb;
    padding: 10px 0;
    border-radius: 10px;
    background-color: #fff6eb;
    color: #2f1a01;
    transition: all 0.8s;
  }

  footer .newsletter .register span:hover {
    background-color: #2f1a01;
    color: #fff6eb;
  }

  footer .newsletter .register a {
    display: none;
  }

  footer .footer-tags {
    height: 100%;
    flex-flow: row wrap;
    justify-content: space-between;
    width: 100%;
    margin-top: 20px;
    /* border: 4px solid; */
  }

  footer .contact-us .phone a {
    margin-left: 25px;
  }

  .cc-tag {
    position: absolute;
    right: 0;
    /* left: 50%; */
    display: flex;
    flex-flow: row;
    justify-content: center;
    align-items: center;
    bottom: 20px;
    width: 100%;
  }
}
